/* RegisterPage.css */

/* Background and accent colors from the palette */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form container */
.register-form {
  width: 300px;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px; /* Adjust border-radius */
  text-align: center;
}

button:hover {
  background-color: #5a52cc; /* Darker button hover color */
  /* Add missing vendor-specific prefixes for hover */
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

/* Error message styles */
.errmsg {
  display: none;
  color: #ff1744; /* Red color for error messages */
  background-color: #ffcdd2; /* Light red background */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center; /* Center the text */
}

.errmsg.show-errmsg {
  display: block; /* Display when error message is shown */
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  height: 100vh; /* Set container height to full viewport height */
}

.icon {
  position: absolute;
  right: 10px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents icon from being selectable */
}

.hide {
  display: none;
}

.valid {
  color: green; /* Change color or add any other valid styles */
}

.invalid {
  color: red; /* Change color or add any other invalid styles */
}

/* Show instructions based on focus and validation */
.instructions {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #555; /* Adjust color as needed */
}

.offscreen {
  display: none;
}
