/* .body {
  background-color: #ffffff;
} */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  width: 300px;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

button:hover {
  background-color: #5a52cc; 
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.errmsg {
  display: none;
  color: #ff1744;
  background-color: #ffcdd2; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center; 
}

.errmsg.show-errmsg {
  display: block;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}

.hide {
  display: none;
}

.valid {
  color: green; 
}

.invalid {
  color: red; 
}

.instructions {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}

.offscreen {
  display: none;
}

.section-register {
  position:  absolute; 
  bottom: 0;
  left: 45%;
  transform: translate(-50%, 0%);
  z-index: -1;
  width: 60%;
  max-width: 100%;
  opacity: 50%;
}