/* Navbar.css */

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #6c63ff; /* Background color */
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 15px;
  position: relative;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff; /* Text color */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ffffff; /* Bottom border color */
  transition: width 0.3s ease;
}

.navbar-item:hover::after {
  width: 100%;
}

.navbar-item:hover .navbar-link {
  color: #b8b5ff; /* Hover text color */
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind the content */
  background-image: url('path_to_your_background_image.jpg');
  /* Other background properties like background-size, background-position, etc. */
  background-size: cover; /* Adjust as needed */
  animation: calmBackground 60s linear infinite;
}

@keyframes calmBackground {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-10%, 0, 0); /* Adjust the value for a subtle movement */
  }
}