/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Light background */
}

/* Full-screen container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

/* Quiz section styles */
.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* Card styles */
.quiz-card {
  width: 100%;
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.quiz-card:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

/* Loading state styles */
.loading {
  font-size: 18px;
  color: #555;
}
/* Add to your existing CSS or create a new CSS file */

/* Options container */
.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px; /* Adjust border-radius */
  text-align: center;
}

/* Adjust the option cards to fit the width of the buttons */
/* Updated CSS for options grid */
.options-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 15px;
}

/* Adjustments for the option cards */
.option-card {
  color: #6c63ff;
  width: 370px;
  padding: 15px;
  font-size: 20px;
  background-color: #6b63ff12; 
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  outline: none;
}

/* Styles for selected option */
.option-card.selected {
  background-color: #6c63ff;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option-card:hover {
  transform: translateY(-5px);
}


/* Add these styles to your CSS file */

/* Custom select styles */
.select-container {
  position: relative;
  width: 100%;
}

.select-container::after {
  content: "▼";
  font-size: 12px;
  color: #6b63ff; /* Arrow color */
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: calc(100% - 30px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #6b63ff;
  cursor: pointer;
}

/* Hover effect */
.select-container select:hover {
  background-color: #6b63ff12;
}

/* Focus effect */
.select-container select:focus {
  outline: none;
  border-color: #6b63ff; /* Focus border color */
  box-shadow: 0 0 5px rgba(107, 99, 255, 0.5); /* Focus box-shadow */
}

