html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.safe-space {
    display: flex;
    flex-direction: column;
}

.info-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.info-section h2 {
    width: 100vw;
    margin: 0;
    font-size: 28px;
    padding: 10px;
    box-sizing: border-box;
}

.info-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.info-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-section li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.reminder {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-top: auto;
}
















.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }

  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }

  .background {
    /* background-image: url('your-image.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Apply Parallax Effect to Other Elements */
  .section {
    transform: translateY(-50%);
  }
  
  
  /* Other styles... */

/* Add your existing styles here */

.cute-card {
  
  text-align: center;
  background-color: #6b63ff2e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cute-card h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.cute-card p {
  line-height: 1.6;
}

.cute-card ul {
  padding-left: 20px;
}

.cute-card li {
  margin-bottom: 10px;
}
