html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.welc {
  margin-top: -10px;
}

.safe-space {
  display: flex;
  flex-direction: column;
}

.info-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.info-section h2 {
  width: 100vw;
  margin: 0;
  font-size: 28px;
  padding: 10px;
  box-sizing: border-box;
}

.info-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.info-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-section li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.reminder {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin-top: auto;
}

.section-welcome {
  margin-top: 70px;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.floating-element {
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.section {
  transform: translateY(-50%);
}

.cute-card {
  
  text-align: center;
  background-color: #6b63ff2e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cute-card h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.cute-card p {
  line-height: 1.6;
}

.cute-card ul {
  padding-left: 20px;
}

.cute-card li {
  margin-bottom: 10px;
}
