/* QuizBoard.css */

.quiz-container {
    text-align: center;
    padding: 20px;
    background-color: #e9e7fe; /* Soft Lavender */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
  }
  
  h2 {
    color: #6c63ff; /* Lighter Purple */
    margin-bottom: 15px;
  }
  
  .question p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .answers {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
  }
  
  button:focus {
    outline: none;
  }
  
  button:nth-child(1) {
    background-color: #7f77f3; /* Darker Purple */
  }
  
  button:nth-child(2) {
    background-color: #8c85ff; /* Lighter Lavender */
  }
  
  button:nth-child(3) {
    background-color: #6c63ff; /* Lighter Purple */
  }
  
  button:hover {
    filter: brightness(1.1);
  }
  