/* .quiz-container {
    text-align: center;
    padding: 20px;
    background-color: #e9e7fe; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
  }
  
  h2 {
    color: #6c63ff; 
    margin-bottom: 15px;
  }
  
  .question p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .answers {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button:focus {
    outline: none;
  }
  
  button:nth-child(1) {
    background-color: #7f77f3; 
  }
  
  button:nth-child(2) {
    background-color: #8c85ff; 
  }
 
  button:hover {
    filter: brightness(1.1);
  }
   */