.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #6b63ff;
  padding: 16px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
}

.navbar-item {
  margin: 0 20px;
  position: relative;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 4px;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fbfbff;
  transition: width 0.3s ease;
}

.navbar-item:hover::after {
  width: 100%;
}

.navbar-item:hover .navbar-link {
  color: #cfcdf7;
}
